body {
  font: 24pt Chewy;
  margin: 20px;
  background-color: seagreen;  
}

#chalkboard {
  background: #ffffff url("../chalkboard.jpg") no-repeat center top;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.25);
  width: 800px;
  height: 560px;
  margin-top: 50px;
  margin: auto;
}

.gameSpace {
  height: 100px;
  width: 100px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  color: white;
  font-size: 48pt;
  cursor: inherit;
  text-align: center;
}

#gameTable {
  opacity: 0.75;
  width: 315px;
  padding-top: 70px;
  cursor: pointer;
}

#gameTable[disabled] {
  cursor: not-allowed !important;
}

.gameSpace:nth-child(3) {
  border-right: none;
}

tr:last-child .gameSpace {
  border-bottom: none;
}

.xLetter {
  color: red;
}

.oLetter {
  color: blue;
}

#prompt {
  background-color: white;
  width: 400px;
  height: 100px;  
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.25);
  margin: auto;
}

a {
  cursor: pointer;  
}

.usersTurn, .computersTurn {
  background-color: darkturquoise;
  padding: 10px;
  width: 200px;
  color: white;
  text-align: center;
  font-size: 18pt;
  text-transform: capitalize;  
}

.computersTurn {
  background-color: coral;
}